[submodule "api-service"]
	path = api-service
	url = https://github.com/CIS3750-Team2/api-service.git
[submodule "data-service-ontario"]
	path = data-service-ontario
	url = https://github.com/CIS3750-Team2/data-service-ontario.git
